body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #f2f2f2;
}

header {
  background: #007bff;
  color: white;
  padding: 30px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}
section:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

header {
  animation: slide 1s ease;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
